.Xil
*.jou
*.log
*.pb
*.wdb
*.wcfg
.cache/
.Xil/
vivado*.backup.*
*.lpr
*.cache
*.hw
*.ip_user_files
*.sim
*.runs
*.gen
fsm_encoding.os
xsim.dir
webtalk*
usage_statistics_webtalk.*
compile_simlib
hs_err_pid*

*.vvp
*.vcd
*.gtkw
*.gtkw.fst
mips_sim.vvp
mips_waveform.vcd